Fixed navbar

<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-red-500">
  <div class="container-fluid">
    <%= link_to boats_path do %>
      <img height="50px" width="50px"
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR6Uym4bzL_l_sgOj93k1wwReR1UaGPByt1fw&usqp=CAU"
        alt="log App">
      <%end%>
        <%= link_to "Sign In" , new_user_registration_path, class: "btn btn-outline-primary my-2 my-sm-0 ms-2" %>
          <%= link_to "Log In" , user_session_path, class: "btn btn-outline-success my-2 my-sm-0 ms-2" %>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
              aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
              <ul class="navbar-nav me-auto mb-2 mb-md-0">
                <%= link_to "Log Out" , destroy_user_session_path, class: "btn btn-outline-danger my-2 my-sm-0 ms-2" %>
              </ul>

              <form class="d-flex" role="search">
                <input class="form-control me-2" name="query" type="search" placeholder="Search" aria-label="Search"
                  value="<%= params[:query] %>">
                <button class="btn btn-outline-success" type="submit">Search</button>
              </form>
              <%= link_to "Add new Boats" , new_boat_path, class: "btn btn-outline-primary my-2 my-sm-0 ms-2" %>
            </div>
  </div>
</nav>