<!-- Votre fichier de mise en page principale (par exemple, application.html.erb) -->
<!-- ... (autres balises head et body) -->

<body>

  <nav class="navbar">
    <div class="container">
      <div class="navbar-left">
        <a href="<%= boats_path %>" class="navbar-logo">
          <%= image_tag("boatlogo.jpg", alt: "Your Logo", class: "logo", size: "50x50") %>
        </a>

        <div class="navbar-links">
          <%= link_to "Sign up", new_user_registration_path, class: "navbar-link btn btn-white" %>

          <% if user_signed_in? %>
            <%= link_to "Log out", destroy_user_session_path, data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "navbar-link btn btn-white" %>
          <% end %>
        </div>
      </div>

      <div class="navbar-right">
        <form action="<%= search_boats_path %>" method="get" class="navbar-search-form">
          <input type="search" name="query[category]" placeholder="Search by Category" value="<%= params.dig(:query, :category) %>">
          <button type="submit" class="btn btn-black btn-outline-white">Search</button>
        </form>

        <% if user_signed_in? %>
          <%= link_to "Add new Boats", new_boat_path, class: "navbar-link btn btn-white" %>
        <% end %>
      </div>
    </div>
  </nav>

</body>
</html>
