<div class="container">
  <h1>Reservation Details</h1>

  <p>Name: <%= @reservation.name %></p>
  <p>Last Name: <%= @reservation.last_name %></p>
  <p>Email: <%= @reservation.email %></p>
  <p>Start Date: <%= @reservation.start_date %></p>
  <p>End Date: <%= @reservation.end_date %></p>

<%= link_to 'Back to Boat', boat_reservations_path(@boat) %>

</div>
