<h1>Boats</h1>
<hr>
<ul>
<% @boats.each do |boat|%>
 <div class="card"><h3><%=boat.name%></h3>
    <p><%= boat.address %></p>
    <p><%= boat.description %></p>
    <p><%= boat.category %> </p>
    <p><%= boat.price %> $</p>
 </div>
 <div class="card">
    <%= link_to "View more" , boat_path(boat) %>
     <%= link_to "Edit", edit_boat_path(boat) %>
      <%= link_to "Delete", boat_path(boat), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
 </div>
<%end%>
</ul>
