<div class="container mt-3">
  <div class="row">
    <div class="col-12"><br>
      <h5>All Our Best Boats</h5>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <% if @query %>
        <p>You searched for <strong>
            <%= @query %>
          </strong>. We found <%= @boats.count %> Boats out of our <%= Boat.count %> on our website.</p>
        <% else %>
          <p>All <%= Boat.count %> boats.</p>
          <% end %>
    </div>
  </div><br>

  <div class="row">
    <% @boats.each do |boat| %>
      <div class="col-md-4">
        <div class="flat-card">

          <div class="flat-card-content">
            <div class="flat-card-title">
              <%= cl_image_tag boat.photo.key, height: 300, width: 400, crop: :fill if boat.photo.attached? %>

              <h1>
                <%= boat.category %>
              </h1>
              <h4>
                <%= boat.name %>
              </h4>
            </div>
            <p>
              <%= boat.address %>
            </p>
            <div class="flex">

              <div class="flex align-items-center ms-3">
                <i class="fa-solid fa-euro-sign"></i>
                <span>
                  <%= boat.price %>
                </span>
              </div>
            </div>
          </div>
          <div class="flat-card-actions">
            <%= link_to "More info" , boat_path(boat) %>
              <%= link_to "Edit" , edit_boat_path(boat), class: "ms-3 text-warning" %>
                <%= link_to "Remove" , boat_path(boat), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" },
                  class: "ms-3 text-danger" %>
          </div>
        </div>
      </div>
      <% end %>
  </div>

</div>
