<div class="container m-5">

  <div class="row">
    <div class="col-8">
      <div class="cardm">
      <h3 style="text-align: center;">Our Boat to yours Dream</h3>
      <div class="flat-show-card">

    
        <div class="cardimg">

        <%= cl_image_tag @boat.photo.key, height: 300, width: 400, crop: :fill if @boat.photo.attached? %> 
      </div><div class="cardimg">
        <h4>
          <%= @boat.category %>
        </h4>
        <h4>
          <%= @boat.name %>
        </h4>
        <div class="flex ms-3">ðŸª™
          <%= @boat.price %>â‚¬
        </div>
          <p >
            <%= @boat.address %>
          </p></div>
      </div>
      <div>
      
        <div class="cardm">  <h4>A bit more about this boat...!!</h4> <p>
          <%= @boat.description %>
        </p></div>
       
       
        <div class="cardimg">
          <div style="width: 100%; height: 400px;" data-controller="map"
            data-map-markers-value="<%= @markers.to_json %>" data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
          </div>

        </div>
      </div>
    </div>
  </div>

    <div class="col-4">
<div class="cardm">
      <div class="flat-show-card">

        <div data-controller="toggle" class="mt-2">
          <div data-toggle-target="togglableElement" class="d-none">
            <%= simple_form_for([@boat, @reservation]) do |b| %>
              <div class="input">
                <h5>
                  <%= b.input :name %>
                </h5>
                <h5>
                  <%= b.input :last_name %>
                </h5>
                <h5>
                  <%= b.input :email %>
                </h5>

                <%= b.input :start_date, as: :string, input_html: { data: { controller: "datepicker" } } %>

                  <%= b.input :end_date, as: :string, input_html: { data: { controller: "datepicker" } } %>

              </div>
              <%= b.submit class: "btn btn-info" %>
                <% end %>
          </div>

          <input data-action="click->toggle#fire" type="submit" value="Book this Boatâ¤ï¸" class="btn btn-success mt-2"
            style="width: 100%">
            
        </div>
        <%= link_to "got to all Reservations ", boat_reservations_path(@boat, @reservation) %>
       
      </div>




      </form>

    </div>
  </div>
</div>
</div>

<!--  -->

</div>
</div>
</div>
</div>