<div class="container margin-top-negative">

    <div class="row">
      <div class="col-8">
        <div class="flat-show-card">
          <%= cl_image_tag @boat.photo.key, style: "width: 300px;" if @boat.photo.attached? %>
          <h3><%= @boat.category %></h3>
          <h5><%= @boat.name %></h5>
          <p class="flat-show-address"><%= @boat.address %></p>
        </div>
        <div class="flat-show-card">
          <h4>A bit more about this boat...</h4>
          <p><%= @boat.description %></p>

        </div>
      </div>

      <div class="col-4">

        <div class="flat-show-card">
          <h5>Book this place!</h5>

          <form action="">
            <div class="input-group">
              <span class="input-group-text" id="start-date-label">From:</span>
              <input type="text" class="form-control" placeholder="12/10/2017" aria-label="start-date" aria-describedby="start-date-label">
            </div>
            <div class="input-group mt-2">
              <span class="input-group-text" id="end-date-label">To:</span>
              <input type="text" class="form-control" placeholder="18/10/2017" aria-label="end-date" aria-describedby="start-date-label">
            </div>
            <input type="submit" value="Book&Reserv" class="btn btn-success mt-2" style="width: 100%">
          </form>
        </div>
        <div class="flat-show-card">
          <h3>Our Boat to yours Dream</h3>

          <div class="flex">

            <div class="flex ms-3">
              <%= @boat.price %>€
            </div>
          </div>
        </div>
        <div class="flat-show-card">

          <div class="flex-align">
            <h6 class="no-mb">Share</h6>

            <div class="flex">
              <i class="fa-brands fa-facebook-square me-2"></i>
              <i class="fa-brands fa-twitter-square me-2"></i>
              <i class="fa-brands fa-pinterest-square me-2"></i>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
